<!-- PAGINATION -->
<div id="pagination">
    <div class="container">
        <div id="load-more" class="text-center page-indicator">
            {{#if next}}{{t "More Posts"}}<i class="fas fa-arrow-down"></i>{{else}}{{t "No More Posts"}}{{/if}}
        </div>
    </div>
</div>
